<ul id='avail_spaces'>
  <% @spaces.each do |space| %>
    <li>
      Name of property: <%= space.name %>
      <br>
      Description: <%= space.description %>
      <br>
      Price per night: <%= space.price %>
      <br>
        <img src="<%= space.image %>" style="width:304px;height:228px;">
        <form action="/booking/new" method="post">
          <input type="hidden" name="space_id" value="<%= space.id %>">
          <input type='date' name='date' min='<%= DateTime.now.to_date %>' required>
          <input type="submit"  value="request to book">
        </form>
    </li>
  <% end %>
</ul>
