<div class='container'>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 text-center request listing">
      <div class="row">
        <div class="col-xs-6">
          <ul>
            <li><span class="request-label">Property name: </span>
              <%= @space.name %></li>
            <li><span class="request-label">Description: </span>
              <%= @space.description %></li>
            <li><span class="request-label">Price per night: </span>
              <%= @space.price %></li>
          </ul>
        </div>

        <div class="col-xs-6">
          <img class="listing-image" src="<%= @space.image %>">
        </div>

  <% if @current_user.id != @space.user_id %>
    <form action="/booking/new" method="post">
      <input type="hidden" name="space_id" value="<%= @space.id %>">
      <input type='date' name='date' min='<%= DateTime.now.to_date %>' required>
      <input class="btn" type="submit"  value="Request to book">
    </form>
  <% end %>


</div>
