<% if @current_user %>
  <h2>Hello <%= @current_user.firstname %>!</h2>
  <form action="/sessions" method="post">
    <input type='hidden' name='_method' value='delete'>
    <button type="submit">Sign out</button>
  </form>
<% end %>

<ul id='spaces'>
  <% Space.reverse_each do |space| %>
    <li>
      Name of your property: <%= space.name %>
      Description: <%= space.description %>
      Price per night: <%= space.price %>
      <form action="/spaces/<%= space.id %>" method="get">
        <input type="hidden" name="space_id" value="<%= space.id %>">
        <input type="submit" name="view details" value="view details">
      </form>
    </li>
  <% end %>
</ul>

<% if @current_user %>
  <form action="/spaces/new" method="get">
    <input type="submit"  value="list a space">
  </form>

  <form action="/requests" method="get">
    <input type="submit"  value="view requests">
  </form>
<% end %>

  <form action="/spaces/available" method="post">
    <label for='date'>Search by date:</label>
    <input type='date' name='date' min='<%= DateTime.now.to_date %>'>
    <input type='submit' value='find available spaces'>
  </form>
